# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PyInstaller artifacts in import_quotes build
postgres_init/*.toc
postgres_init/*.pyz
postgres_init/*.pkg
postgres_init/warn-*
postgres_init/xref-*

# PyInstaller build artifacts
postgres_init/build/
