.app {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 2rem;
  text-align: center;
}

blockquote {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #262121;
  border-left: 4px solid #515157;
  font-size: 1.1rem;
  white-space: pre-line; /* <- wichtig für \n */
}

code {
  background-color: #1f202f;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  font-family: monospace;
}
